<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/CSS/about.css">
    <link rel="stylesheet" href="/static/CSS/responsive.css" media="screen and (max-width: 1100px)">
    <script defer src="/static/Javascript/script.js"></script>
    <script defer src="https://kit.fontawesome.com/676c98e749.js" crossorigin="anonymous"></script>
    <title>About • RUDRA MYOG</title>
</head>

<body oncontextmenu="disableRightclick()">
    <nav class="navbar" id="navbar">
        <div class="logo">
            <a href="/views/home.html"><img src="/src/logo/logo.jpeg" alt="logo" height="70" width="70"></a>
        </div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/views/index.html">Home</a></li>
            <li><a href="#" class="active">About</a></li>
            <li><a href="/views/register.html">Register</a></li>
            <li><a href="/views/classdemo.html">Class Demo</a></li>
            <li><a href="/views/contact.html">Contact</a></li>
        </ul>
    </nav>

    <div class="back-to-top-button">
        <a href="#">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <div class="snackbar" id="snackbar">Right click is disabled!</div>

    <section class="about">
        <div class="about-container">
            <div class="heading">
                About RUDRAMYOG
            </div>
            <div class="about-text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolore dolorem eos, eius eaque,
                    est explicabo nostrum officiis tempore provident nesciunt mollitia adipisci architecto. Itaque iusto
                    voluptatem beatae deleniti provident corrupti suscipit quaerat, error tenetur omnis exercitationem
                    consequuntur voluptate voluptates dolorum eum molestiae asperiores ratione aliquid. Adipisci,
                    possimus nisi? Vero, quisquam nam autem dignissimos perferendis repellendus asperiores vitae id ex
                    ullam cum et temporibus provident recusandae ad adipisci doloremque fugiat modi. Voluptatum fugit
                    aliquid, totam libero facilis nesciunt possimus in suscipit pariatur, maxime eligendi nihil atque
                    quo cum. Quaerat autem tempora necessitatibus porro sint possimus ipsum repellat a? Assumenda,
                    dolorum.
                </p>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolore dolorem eos, eius eaque,
                    est explicabo nostrum officiis tempore provident nesciunt mollitia adipisci architecto. Itaque iusto
                    voluptatem beatae deleniti provident corrupti suscipit quaerat, error tenetur omnis exercitationem
                    consequuntur voluptate voluptates dolorum eum molestiae asperiores ratione aliquid. Adipisci,
                    possimus nisi? Vero, quisquam nam autem dignissimos perferendis repellendus asperiores vitae id ex
                    ullam cum et temporibus provident recusandae ad adipisci doloremque fugiat modi. Voluptatum fugit
                    aliquid, totam libero facilis nesciunt possimus in suscipit pariatur, maxime eligendi nihil atque
                    quo cum. Quaerat autem tempora necessitatibus porro sint possimus ipsum repellat a? Assumenda,
                    dolorum.
                </p>
                <br>
                Kanchan Patil
                <br>
                Founder of RUDRAMYOG
            </div>
        </div>
        <div class="founder-container">
            <div class="heading">Our Founder</div>
            <img src="/src/images/founder-pic.png" alt="Kanchan Patil" class="founder-pic">
            <div class="founder-name">Kanchan Patil</div>
            <div class="founder-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nihil excepturi
                pariatur alias officia repellendus in magni ad ipsa totam! Quod illum explicabo, saepe eos, laboriosam
                optio maxime ut totam eius libero earum? Aperiam voluptas nobis magni quaerat? Laborum deserunt
                voluptatum quasi, iusto eligendi et maiores modi nulla, porro mollitia dignissimos laboriosam labore,
                ullam exercitationem odit? Maiores ipsa saepe iure ut sunt. Quos dolorem suscipit cumque, consequatur
                repudiandae delectus perferendis impedit aspernatur vero, quibusdam odit mollitia molestiae incidunt
                obcaecati! Soluta, laborum fugiat. Eius praesentium nihil aliquam doloremque blanditiis libero
                voluptatum, sapiente fuga consequatur tenetur. Voluptas quia sunt neque repellendus amet!</div>
        </div>
    </section>

    <section class="team-rudramyog">
        <div class="heading">
            <div class="main-heading">Team RUDRA MYOG</div>
            <div class="sub-heading">Get to Know Us</div>
        </div>
        <div class="yoga-teachers-cards">
            <div class="yoga-teacher">
                <div class="yoga-teacher-text">
                    <div class="yoga-teacher-name">Kanchan Patil</div>
                    <div class="yoga-teacher-profession">Yoga Teacher and Founder of RUDRAMYOG</div>
                    <div class="about-yoga-teacher">ISO certified yoga teacher with great experience. Good at meditation
                        and mindfullness practices.</div>
                </div>
                <div class="image">
                    <img src="/src/services/yoga-for-womens.jpeg" alt="Kanchan Patil" class="yoga-teacher-pic">
                </div>
            </div>
            <div class="yoga-teacher">
                <div class="yoga-teacher-text">
                    <div class="yoga-teacher-name">Kanchan Patil</div>
                    <div class="yoga-teacher-profession">Yoga Teacher at RUDRAMYOG</div>
                    <div class="about-yoga-teacher">ISO certified yoga teacher with great experience. Good at meditation
                        and mindfullness practices.</div>
                </div>
                <div class="image">
                    <img src="/src/services/yoga-for-womens.jpeg" alt="Kanchan Patil" class="yoga-teacher-pic">
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-links">
            <div class="footer">
                <div class="footer-logo">
                    <img src="/src/images/lotus.png" alt="logo" height="65">
                    <div class="heading">Rudra Myog</div>
                </div>
                <div class="line"></div>
                <div class="copyright">&copy; 2021 <span><a href="#">rudramyog.com</a></span></div>
            </div>
            <div class="social-links">
                <a href="http://facebook.com" target="blank"><i class="fab fa-facebook-f"></i></a>
                <a href="http://twitter.com" target="blank"><i class="fab fa-twitter"></i></a>
                <a href="http://instagram.com" target="blank"><i class="fab fa-instagram"></i></a>
                <a href="http://linkedin.com" target="blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <hr class="line">
        <div class="creator"><a href="http://instagram.com">Design by Yashodhar Patel</a></div>
    </footer>

</body>

</html>