<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/CSS/about.css">
    <link rel="stylesheet" href="/static/CSS/tab.css" media="screen and (max-width: 1500px)">
    <link rel="stylesheet" href="/static/CSS/responsive.css" media="screen and (max-width: 1100px)">
    <script defer src="/static/Javascript/script.js"></script>
    <script defer src="https://kit.fontawesome.com/676c98e749.js" crossorigin="anonymous"></script>
    <title>About • RUDRAM YOG</title>
</head>

<body oncontextmenu="disableRightclick()">
    <nav class="navbar" id="navbar">
        <div class="logo">
            <a href="/views/index.html"><img src="/src/logo/logo.jpeg" alt="logo" height="60" width="60"></a>
        </div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/views/index.html">Home</a></li>
            <li><a href="#" class="active">About</a></li>
            <li><a href="/views/register.html">Register</a></li>
            <li><a href="/views/classdemo.html">Class Demo</a></li>
            <li><a href="/views/contact.html">Contact</a></li>
        </ul>
    </nav>

    <div class="back-to-top-button">
        <a href="#">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <div class="snackbar" id="snackbar">Right click is disabled!</div>

    <section class="about">
        <div class="about-container">
            <div class="heading">
                About RUDRAMYOG
            </div>
            <div class="about-text">
                <p>The RUDRAM YOG was started by Mrs. Kanchan Patil. Mrs. Kanchan Patil did her Diploma and TTC from
                    Mumbai university and became an ISO certified yoga teacher. Practicing yoga for over years, she is a
                    senior yoga teacher and gained a lot of experience as a yoga teacher by teaching at yogdhenu.
                    Kanchan Patil is also a Children's Yoga teacher, with further qualifications in restorative,
                    pregnancy, postnatal & hot yoga.</p>
                <br>
                <p>Well, despite practicing yoga for over years and taking classes offline as well as online during
                    pandemic with plots of positive testimonials from our students. Also seen a lot of awareness and
                    improvement in health-related problems in some clients. Through Rudramyog we want to connect with
                    more people and make them feel healthy and happy as yoga heals everything if practiced perfectly
                    with proper guidance. We aim to spread awareness about yoga in our society, We want everyone to be
                    healthy and happy in society and want every kid to be a yogi in the future.</p>
                <br>
                Kanchan Patil
                <br>
                Founder of RUDRAMYOG
            </div>
        </div>
        <div class="founder-container">
            <div class="heading">Our Founder</div>
            <img src="/src/images/founder-pic.png" alt="Kanchan Patil" class="founder-pic">
            <div class="founder-name">Kanchan Patil</div>
            <div class="founder-text">Diploma and TTC Certified from Mumbai University | ISO certified yoga teacher with
                great experience in HATHA yoga by Patanjali | Good at meditation and mindfulness practices | Certified
                in special achiever old master class | Certified in Vinyasa yoga</div>
        </div>
    </section>

    <section class="team-rudramyog">
        <div class="heading">
            <div class="main-heading">Team RUDRA MYOG</div>
            <div class="sub-heading">Get to Know Us</div>
        </div>
        <div class="yoga-teachers-cards">
            <div class="yoga-teacher">
                <div class="yoga-teacher-text">
                    <div class="yoga-teacher-name">Kanchan Patil</div>
                    <div class="yoga-teacher-profession">Yoga Teacher and Founder of RUDRAMYOG</div>
                    <div class="about-yoga-teacher">ISO certified yoga teacher with great experience in HATHA yoga by
                        Patanjali. Good at meditation and mindfulness practices.</div>
                </div>
                <div class="image">
                    <img src="/src/teachers/kanchan.jpeg" alt="Kanchan Patil" class="yoga-teacher-pic">
                </div>
            </div>
            <div class="yoga-teacher">
                <div class="yoga-teacher-text">
                    <div class="yoga-teacher-name">Trupti Kengar</div>
                    <div class="yoga-teacher-profession">Yoga Teacher at RUDRAMYOG</div>
                    <div class="about-yoga-teacher">Diploma and TTC certified yoga teacher in Vinyasa yoga. The USA
                        certified in yoga anatomy and physiology.</div>
                </div>
                <div class="image">
                    <img src="/src/teachers/trupti.png" alt="Trupti Kengar" class="yoga-teacher-pic">
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-links">
            <div class="footer">
                <div class="footer-logo">
                    <img src="/src/images/lotus.png" alt="logo" height="65">
                    <div class="heading">Rudram Yog</div>
                </div>
                <div class="line"></div>
                <div class="copyright">&copy; 2021 <span><a href="/views/index.html">rudramyog.com</a></span></div>
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/Rudra_myog-107232215024682/" target="blank"><i
                        class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/rudramyog" target="blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/rudra_myog/" target="blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/rudram-yog-828496221/" target="blank"><i
                        class="fab fa-linkedin-in"></i></a>
                <a href="https://youtube.com/channel/UC93wGHo2cmqMmPoDYoa4Rww" target="blank"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
        <hr class="line">
        <div class="creator"><a href="https://yashodharpatel.herokuapp.com/" target="blank">Design by Yashodhar
                Patel</a></div>
    </footer>

</body>

</html>