<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/CSS/contact.css">
    <link rel="stylesheet" href="/static/CSS/responsive.css" media="screen and (max-width: 1100px)">
    <script defer src="/static/Javascript/script.js"></script>
    <script defer src="https://kit.fontawesome.com/676c98e749.js" crossorigin="anonymous"></script>
    <title>Contact • RUDRAM YOG</title>
</head>

<body oncontextmenu="disableRightclick()">
    <nav class="navbar" id="navbar">
        <div class="logo">
            <a href="/views/index.html"><img src="/src/logo/logo.jpeg" alt="logo" height="70" width="70"></a>
        </div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/views/index.html">Home</a></li>
            <li><a href="/views/about.html">About</a></li>
            <li><a href="/views/register.html">Register</a></li>
            <li><a href="/views/classdemo.html">Class Demo</a></li>
            <li><a href="#" class="active">Contact</a></li>
        </ul>
    </nav>

    <div class="back-to-top-button">
        <a href="#">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <div class="snackbar" id="snackbar">Right click is disabled!</div>

    <section class="contact">
        <div class="heading">Contact Us</div>
        <div class="contact-section">
            <div class="firsthalf">
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <a class="name">Kanchan Patil, Ahmedabad, India</a>
                </div>
                <div class="mail">
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:rudramyog@gmail.com" target="blank">rudramyog@gmail.com</a>
                </div>
                <div class="whatsaap">
                    <i class="fab fa-whatsapp"></i>
                    <a href="https://api.whatsapp.com/send/?phone=9979067023&text&app_absent=0" target="blank">
                        9979067023
                    </a>
                </div>
                <div class="social-links">
                    <a href="http://facebook.com" target="blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="http://twitter.com" target="blank"><i class="fab fa-twitter"></i></a>
                    <a href="http://instagram.com" target="blank"><i class="fab fa-instagram"></i></a>
                    <a href="http://linkedin.com" target="blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="secondhalf">
                <div class="contact-form">
                    <form action="" method="POST" autocomplete="off" name="contact-form" class="form">
                        <input class="form-input" type="text" name="Name" id="name" placeholder="Your Name" required>
                        <input class="form-input" type="email" name="Email" id="email" placeholder="Your Email"
                            required>
                        <input class="form-input" type="number" name="Phone" id="phone" placeholder="Your Phone">
                        <input class="form-input" type="text" name="Subject" id="subject" placeholder="Subject"
                            required>
                        <textarea class="form-input" name="Message" id="message" cols="30" rows="6"
                            placeholder="Message" required></textarea>
                        <button type="submit" name="Submit" value="Send message" class="btn">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-links">
            <div class="footer">
                <div class="footer-logo">
                    <img src="/src/images/lotus.png" alt="logo" height="65">
                    <div class="heading">Rudram Yog</div>
                </div>
                <div class="line"></div>
                <div class="copyright">&copy; 2021 <span><a href="/views/index.html">rudramyog.com</a></span></div>
            </div>
            <div class="social-links">
                <a href="http://facebook.com" target="blank"><i class="fab fa-facebook-f"></i></a>
                <a href="http://twitter.com" target="blank"><i class="fab fa-twitter"></i></a>
                <a href="http://instagram.com" target="blank"><i class="fab fa-instagram"></i></a>
                <a href="http://linkedin.com" target="blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <hr class="line">
        <div class="creator"><a href="http://instagram.com">Design by Yashodhar Patel</a></div>
    </footer>

</body>

<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbwQYiVnrXyNJdJrxTG2RRkGnDN0cuFuk2b3jR3C6Wvh1dQuiMWMHi0prBfz7xhmNrDTYg/exec';
    const form = document.forms['contact-form'];

    form.addEventListener('submit', e => {
        e.preventDefault();
        fetch(scriptURL, { method: 'POST', body: new FormData(form) })
            .then(response => {
                alert("Thank you! Your submission is received and we will contact you soon.");
                form.reset();
            })
            .catch(error => {
                alert("Error! Something went wrong while receiving your data. Please enter all the valid data and try again.");
                console.error(error.message);
            });
    });
</script>

</html>