<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/CSS/tab.css" media="screen and (max-width: 1500px)">
    <link rel="stylesheet" href="/static/CSS/responsive.css" media="screen and (max-width: 1100px)">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script defer src="/static/Javascript/script.js"></script>
    <script defer src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script defer src="https://kit.fontawesome.com/676c98e749.js" crossorigin="anonymous"></script>
    <title>RUDRAM YOG</title>
</head>

<body oncontextmenu="disableRightclick()">
    <div class="background" id="background">
        <nav class="navbar transparent-navbar" id="navbar">
            <div class="logo">
                <a href="/views/index.html"><img src="/src/logo/logo.jpeg" alt="logo" height="60" width="60"></a>
            </div>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="/views/about.html">About</a></li>
                <li><a href="/views/register.html">Register</a></li>
                <li><a href="/views/classdemo.html">Class Demo</a></li>
                <li><a href="/views/contact.html">Contact</a></li>
            </ul>
        </nav>
        <section class="introsection" id="introsection">
            <div class="title">Welcome to Rudram yog</div>
            <div class="subtitle">Step away from the busy, loud world and come to practice yoga and meditation in a
                little oasis of peace, quiet, calm, and tranquility. We offer private and group yoga classes from Monday
                to Friday. Join one of our group classes, workshops, come on a retreat or book a private lesson.</div>
            <button class="btn"><a href="#services">Let's Get Started</a></button>
        </section>
    </div>

    <div class="back-to-top-button">
        <a href="#">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <div class="snackbar" id="snackbar">Right click is disabled!</div>

    <section class="aboutsection" id="aboutsection">
        <div class="heading">About <span>RUDRAM YOG</span></div>
        <div class="text">The RUDRAM YOG was started by Mrs. Kanchan Patil. Mrs. Kanchan Patil did her Diploma and TTC
            from Mumbai university and became an ISO certified yoga teacher. Practicing yoga for over years, she is a
            senior yoga teacher and gained a lot of experience as a yoga teacher by teaching at yogdhenu. Kanchan Patil
            is also a Children's Yoga teacher, with further qualifications in restorative, pregnancy, postnatal & hot
            yoga.</div>
        <a href="/views/about.html"><button class="btn">Read More</button></a>
    </section>

    <section class="services" id="services">
        <div class="heading">
            <div class="main-heading">Our Services</div>
            <div class="sub-heading">Here's what we provide</div>
        </div>
        <div class="services-cards">
            <div class="card">
                <div>
                    <img class="card-image" src="/src/services/yoga-for-elders.jpg" alt="">
                    <div class="card-name">Yoga For Elders</div>
                    <div class="card-info">Rudramyog is taking care personally of each and every older one to be fit and
                        fine in a smooth and pampered way.</div>
                    <ul class="card-points">
                        <li>Immunity Booster</li>
                        <li>Removing stress and Anxiety</li>
                        <li>Helping to Manage Thyroid & Diabetes</li>
                        <li>Helping to manage body misfunctioning</li>
                        <li>Strengthening muscles and bones</li>
                    </ul>
                    <a href="/views/registration-form.html">
                        <button class="btn">Register now</button>
                    </a>
                </div>
            </div>
            <div class="card">
                <div>
                    <img class="card-image" src="/src/services/yoga-for-womens.jpeg" alt="">
                    <div class="card-name">Special sessions for Women's</div>
                    <div class="card-info">Rudramyog is desperately looking forward to becoming each and every woman to
                        be confident and happy. We provide separate sessions for pregnant women as well to build their
                        physical and mental health.</div>
                    <ul class="card-points">
                        <li>Pre and post metal Yoga</li>
                        <li>Immunity Booster</li>
                        <li>Increasing Flexibility</li>
                        <li>Removing stress</li>
                        <li>Strengthening bones</li>
                    </ul>
                    <a href="/views/registration-form.html">
                        <button class="btn">Register now</button>
                    </a>
                </div>
            </div>
            <div class="card">
                <div>
                    <img class="card-image" src="/src/services/yoga-for-kids.jpg" alt="">
                    <div class="card-name">Yoga For Kids</div>
                    <div class="card-info">The best age of development of overall health is 5-14. And yes Rudramyog is
                        providing special sessions for kids as well which are growing for their better future.</div>
                    <ul class="card-points">
                        <li>Immunity Booster</li>
                        <li>Concentration and Focus</li>
                        <li>Height and Weight Growth</li>
                        <li>Confidence</li>
                        <li>Mental balance and Physical Strength</li>
                    </ul>
                    <a href="/views/registration-form.html">
                        <button class="btn">Register now</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="quotesection" id="quotesection">
        <div class="quote-container">
            <div class="quote">Your body exists in the past and your mind exists in the future. In yoga, they come
                together in the present.</div>
        </div>
    </section>

    <section class="testimonials" id="testimonials">
        <div class="heading">Testimonials</div>
        <div class="carousel" data-flickity='{ "autoPlay": true }'>
            <div class="carousel-cell">
                <div class="testimonialContainer">
                    <img class="profilePic" src="/src/testimonials/sanjana.webp" />
                    <div>
                        <p class="response">Well, I have so many problems like hypothyroidism and have gone through
                            multiple surgeries due to stiffness in my body but after joining Rudramyog 6 months back. I
                            have got rid of my thyroid issue and my body is also getting flexible day by day. Thanks a
                            lot.</p>
                        <div class="name">Sanjana Gupta, IT Professional</div>
                        <div class="city">Delhi, 34</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="testimonialContainer">
                    <img class="profilePic" src="/src/testimonials/sanjay.jpeg" />
                    <div>
                        <p class="response">I am a teacher by profession, I need to travel about 60kms a day as my
                            school is far away from my home. Because of traveling, I am suffering from back pain, so I
                            started doing yoga but because of no guidance, it wasn't getting rid of. So I joined
                            Rudramyog 2 months back, with the proper guidance of Mrs. Kanchan Patil I has got rid of my
                            back pain, and day by day my body is also getting flexible. Thank you.</p>
                        <div class="name">Sanjay Patel, Teacher</div>
                        <div class="city">Shahada, 49</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="testimonialContainer">
                    <img class="profilePic" src="/src/testimonials/shweta.webp" />
                    <div>
                        <p class="response">As a homemaker and a mother of 2 kids didn't get enough time for myself,
                            regarding my health and emotions, I joined Rudramyog for my personal health and want to
                            meditate for mental and physical calmness. Just in a month, I have seen a huge change in
                            myself. Thanks a lot.</p>
                        <div class="name">Shweta Patil, Home Maker</div>
                        <div class="city">Delhi, 35</div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="testimonialContainer">
                    <img class="profilePic" src="/src/testimonials/namrata.jpeg" />
                    <div>
                        <p class="response">Before I joined Rudramyog, I was detected with PCOD and weight gain issues.
                            After one month of joining, my hormone levels start to balanced and I feel more
                            refreshing and light day by day. Also, heighten my immunity after covid. I recommend
                            Rudramyog for all those who want to be healthy and happy by keeping yoga at home.</p>
                        <div class="name">Namrata Patil, Student</div>
                        <div class="city">Mumbai, 23</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-links">
            <div class="footer">
                <div class="footer-logo">
                    <img src="/src/images/lotus.png" alt="logo" height="65">
                    <div class="heading">Rudram Yog</div>
                </div>
                <div class="line"></div>
                <div class="copyright">&copy; 2021 <span><a href="/views/index.html">rudramyog.com</a></span></div>
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/Rudra_myog-107232215024682/" target="blank"><i
                        class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/rudramyog" target="blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/rudra_myog/" target="blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/rudram-yog-828496221/" target="blank"><i
                        class="fab fa-linkedin-in"></i></a>
                <a href="https://youtube.com/channel/UC93wGHo2cmqMmPoDYoa4Rww" target="blank"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
        <hr class="line">
        <div class="creator"><a href="https://yashodharpatel.herokuapp.com/" target="blank">Design by Yashodhar
                Patel</a></div>
    </footer>

</body>

</html>