<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/CSS/registration-form.css">
    <link rel="stylesheet" href="/static/CSS/responsive.css" media="screen and (max-width: 1100px)">
    <script defer src="/static/Javascript/script.js"></script>
    <script defer src="https://kit.fontawesome.com/676c98e749.js" crossorigin="anonymous"></script>
    <title>Registration Form • RUDRAM YOG</title>
</head>

<body oncontextmenu="disableRightclick()">
    <nav class="navbar" id="navbar">
        <div class="logo">
            <a href="/views/index.html"><img src="/src/logo/logo.jpeg" alt="logo" height="70" width="70"></a>
        </div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/views/index.html">Home</a></li>
            <li><a href="/views/about.html">About</a></li>
            <li><a href="/views/register.html">Register</a></li>
            <li><a href="/views/classdemo.html">Class Demo</a></li>
            <li><a href="/views/contact.html">Contact</a></li>
        </ul>
    </nav>

    <div class="back-to-top-button">
        <a href="#">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <div class="snackbar" id="snackbar">Right click is disabled!</div>

    <section class="registration">
        <div class="registration-container">
            <div class="heading">Registration Form at RUDRAMYOG</div>
            <hr class="line">
            <div class="form">
                <form action="" method="POST" autocomplete="off" class="registration-form" name="registration-form">
                    <div class="name field">
                        <div class="name-text input-text">Name <span>*</span></div>
                        <input class="form-input" type="text" name="Name" id="name" placeholder="Your Name" required>
                    </div>

                    <div class="date field">
                        <div class="date-text input-text">Today's Date <span>*</span></div>
                        <input class="form-input" type="date" name="Date" id="date" required>
                    </div>

                    <div class="age field">
                        <div class="age-text input-text">Age <span>*</span></div>
                        <input class="form-input" type="number" name="Age" id="age" placeholder="Your Age" required>
                    </div>

                    <div class="gender field">
                        <div class="gender-text input-text">Gender <span>*</span></div>
                        <select class="form-input" name="Gender" id="gender" required>
                            <option value="" disabled selected hidden>Please Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="N/A">N/A</option>
                        </select>
                    </div>

                    <div class="contact-number field">
                        <div class="contact-number-text input-text">Contact number (Preferably Whatsapp Number)
                            <span>*</span>
                        </div>
                        <input class="form-input" type="number" name="Contact number" id="contact-number"
                            placeholder="Your Contact Number" required>
                    </div>

                    <div class="email field">
                        <div class="email-text input-text">Email <span>*</span></div>
                        <input class="form-input" type="email" name="Email" id="email"
                            placeholder="youremail@example.com" required>
                    </div>

                    <div class="address field">
                        <div class="address-text input-text">Address</div>
                        <textarea class="form-input" name="Address" id="address" cols="30" rows="4"
                            placeholder="Your Address"></textarea>
                    </div>

                    <div class="health-issue field">
                        <div class="health-issue-text input-text">Any recent surgeries or pain (Health Issue)</div>
                        <input class="form-input" type="text" name="Health Issue" id="health-issue"
                            placeholder="Health Issue">
                    </div>

                    <div class="class-type field">
                        <div class="class-type-text input-text">Select the Class <span>*</span></div>
                        <table>
                            <thead>
                                <th>Select</th>
                                <th>Class Type</th>
                                <th>Suggested Age</th>
                                <th>Fees per month</th>
                                <th>Classes</th>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        <input class="form-input" type="radio" name="Classtype" value="Yoga for elders"
                                            id="classtype" required>
                                    </td>
                                    <td>Yoga for Elders</td>
                                    <td>45+ Years</td>
                                    <td>₹ 999</td>
                                    <td>Online From Mon to Fri for 1 Hour</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-input" type="radio" name="Classtype"
                                            value="Special sessions for Women's" id="classtype" required>
                                    </td>
                                    <td>Special sessions for Women's</td>
                                    <td>Women's of any age Preferably from 15-45 Years)</td>
                                    <td>₹ 999</td>
                                    <td>Online From Mon to Fri for 1 Hour</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-input" type="radio" name="Classtype" value="Yoga for Kids"
                                            id="classtype" required>
                                    </td>
                                    <td>Yoga for Kids</td>
                                    <td>5-14 Years</td>
                                    <td>₹ 999</td>
                                    <td>Online From Mon to Fri for 1 Hour</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-input" type="radio" name="Classtype"
                                            value="Master your Energy" id="classtype" required>
                                    </td>
                                    <td>Master your Energy</td>
                                    <td>16+ Years</td>
                                    <td>₹ 799</td>
                                    <td>Online From Mon to Fri for 1 Hour</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="terms-and-conditions field">
                        <div class="terms-and-conditions-heading">Please read carefully:</div>
                        <div class="terms-and-conditions-text">
                            <p>By signing this form, I acknowledge that I/my child will receive information and
                                instruction in yoga, and I understand that yoga involves physical movement that can
                                result in strains, sprains, dislocations of joints if not performed properly. I
                                represent and warrant that I/my child has no medical condition that would prevent full
                                participation in the yoga class.</p>
                            <p>If I/my child experience any pain or discomfort, I/my
                                child will immediately stop participation in the class. Yoga is not a substitute for
                                medical attention, examination, diagnosis, or treatment. Yoga is not safe under certain
                                medical conditions. I affirm that I am responsible to decide whether I/my child should
                                practice yoga.</p>
                        </div>

                        <div class="acceptance">
                            <input class="acceptance-checkbox" type="checkbox" name="Terms-and-conditions"
                                id="terms-and-conditions-checkbox" value="checked" required checked>
                            I have read the above statement completely and understand its content. I give my
                            concerns and I am willing to start yoga practice with RUDRAMYOG.
                        </div>
                    </div>

                    <div class="submit-button">
                        <button type="submit" name="Submit" value="Submit Registration Form" class="btn"
                            id="submitButton">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-links">
            <div class="footer">
                <div class="footer-logo">
                    <img src="/src/images/lotus.png" alt="logo" height="65">
                    <div class="heading">Rudram Yog</div>
                </div>
                <div class="line"></div>
                <div class="copyright">&copy; 2021 <span><a href="/views/index.html">rudramyog.com</a></span></div>
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/Rudra_myog-107232215024682/" target="blank"><i
                        class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/rudramyog" target="blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/rudra_myog/" target="blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/rudram-yog-828496221/" target="blank"><i
                        class="fab fa-linkedin-in"></i></a>
                <a href="https://youtube.com/channel/UC93wGHo2cmqMmPoDYoa4Rww" target="blank"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
        <hr class="line">
        <div class="creator"><a href="https://yashodharpatel.herokuapp.com/" target="blank">Design by Yashodhar
                Patel</a></div>
    </footer>

</body>

<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbwZxOSkVWf0pQ58EFYbJoy9DI7qJJhp5LmvNT_IkTZRh95e2E1G4sDf9-DmJooaed-WZA/exec';
    const form = document.forms['registration-form'];

    form.addEventListener('submit', e => {
        e.preventDefault();
        fetch(scriptURL, { method: 'POST', body: new FormData(form) })
            .then(response => {
                alert("Registration completed successfully!");
                form.reset();
            })
            .catch(error => {
                alert("Error! Something went wrong while receiving your data. Please enter all the valid data and try again.");
                console.error(error.message);
            });
    });
</script>

</html>