<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/CSS/register.css">
    <link rel="stylesheet" href="/static/CSS/responsive.css" media="screen and (max-width: 1100px)">
    <script defer src="/static/Javascript/script.js"></script>
    <script defer src="https://kit.fontawesome.com/676c98e749.js" crossorigin="anonymous"></script>
    <title>Register • RUDRA MYOG</title>
</head>

<body oncontextmenu="disableRightclick()">
    <nav class="navbar" id="navbar">
        <div class="logo">
            <a href="/views/home.html"><img src="/src/logo/logo.jpeg" alt="logo" height="70" width="70"></a>
        </div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/views/index.html">Home</a></li>
            <li><a href="/views/about.html">About</a></li>
            <li><a href="#" class="active">Register</a></li>
            <li><a href="/views/classdemo.html">Class Demo</a></li>
            <li><a href="/views/contact.html">Contact</a></li>
        </ul>
    </nav>

    <div class="back-to-top-button">
        <a href="#">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <div class="snackbar" id="snackbar">Right click is disabled!</div>

    <section class="register">
        <div class="registration-cards">
            <div class="card">
                <div class="image-container">
                    <img class="card-image" src="/src/services/yoga-for-kids.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="card-elements">
                        <div class="card-name">Yoga For Kids</div>
                        <div class="card-info">The best age of development of over all health is
                            5-14. And yes rudra myog is also providing special sessions for kids which are growing for
                            better future.
                        </div>
                        <div class="line"></div>
                        <div class="days-of-week">Mon, &nbsp;Tue, &nbsp;Wed, &nbsp;Thu, &nbsp;Fri</div>
                        <div class="price">₹1,199</div>
                        <a href="/views/registration-form.html">
                            <button class="btn">Register now</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-container">
                    <img class="card-image" src="/src/services/yoga-for-womens.jpeg" alt="">
                </div>
                <div class="card-content">
                    <div class="card-elements">
                        <div class="card-name">Special session for Women's</div>
                        <div class="card-info">Women's are one who changes there emotions more than time in day. Rudra
                            myog
                            is despirately looking forward to become each and every women to be confident and happy. We
                            provide seprate sessions foe pregnant women as well to build their physical and mental
                            health.
                        </div>
                        <div class="line"></div>
                        <div class="days-of-week">Mon, &nbsp;Tue, &nbsp;Wed, &nbsp;Thu, &nbsp;Fri</div>
                        <div class="price">₹1,199</div>
                        <a href="/views/registration-form.html">
                            <button class="btn">Register now</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-container">
                    <img class="card-image" src="/src/services/yoga-for-elders.jpg" alt="">
                </div>
                <div class="card-content">
                    <div class="card-elements">
                        <div class="card-name">Yoga For Elders</div>
                        <div class="card-info">Rudra myog is taking care personally of each and every older one to be
                            fit
                            and
                            fine in smooth and pampered way.
                        </div>
                        <div class="line"></div>
                        <div class="days-of-week">Mon, &nbsp;Tue, &nbsp;Wed, &nbsp;Thu, &nbsp;Fri</div>
                        <div class="price">₹1,199</div>
                        <a href="/views/registration-form.html">
                            <button class="btn">Register now</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="image-container">
                    <img class="card-image" src="/src/services/master-your-energy.jpeg" alt="">
                </div>
                <div class="card-content">
                    <div class="card-elements">
                        <div class="card-name">Master your Energy</div>
                        <div class="card-info">Rudra myog taking care personally to each and every older one to be fit
                            and
                            fine in smooth and pampered way.
                        </div>
                        <div class="line"></div>
                        <div class="days-of-week">Mon, &nbsp;Tue, &nbsp;Wed, &nbsp;Thu, &nbsp;Fri</div>
                        <div class="price">₹1,199</div>
                        <a href="/views/registration-form.html">
                            <button class="btn">Register now</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="note-container">
            <div class="note" id="note">Note: If you are intrested, We provide seprate one to one sessions as well.</div>
        </div>
    </section>

    <footer>
        <div class="footer-links">
            <div class="footer">
                <div class="footer-logo">
                    <img src="/src/images/lotus.png" alt="logo" height="65">
                    <div class="heading">Rudra Myog</div>
                </div>
                <div class="line"></div>
                <div class="copyright">&copy; 2021 <span><a href="#">rudramyog.com</a></span></div>
            </div>
            <div class="social-links">
                <a href="http://facebook.com" target="blank"><i class="fab fa-facebook-f"></i></a>
                <a href="http://twitter.com" target="blank"><i class="fab fa-twitter"></i></a>
                <a href="http://instagram.com" target="blank"><i class="fab fa-instagram"></i></a>
                <a href="http://linkedin.com" target="blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <hr class="line">
        <div class="creator"><a href="http://instagram.com">Design by Yashodhar Patel</a></div>
    </footer>

</body>

</html>